.quote-about {
  padding-top: 155px;
  &__slider-inner {
    display: flex;
    align-items: center;
  }
  &__text {
    white-space: nowrap;
    font-weight: 700;
    font-size: 84px;
    line-height: 100%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #eee;
    & + & {
      margin-left: 200px;
    }
  }
  &__content {
    margin-top: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__title {
    font-weight: 700;
    font-size: 84px;
    line-height: 100%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000;
    overflow: hidden;
    margin-bottom: 40px;
    .char {
      display: inline-block;
    }
  }
}