.single-product-intro {
  background: #000;
  padding: 95px 0 70px;
  &__mobile {
    margin-bottom: 30px;
    display: none;
  }
  &__title-mobile-wrapper {
    color: #fff;
    margin-bottom: 15px;
  }
  &__mobile-title {
    font-size: 21px;
    line-height: 26px;
  }
  &__desc-mobile {
    color: #fff;
    font-size: 14px;
    line-height: 160%;
    max-width: 540px;
  }
  &__inner {
    display: flex;
  }
  &-slider__controls {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
    &-elem {
      display: flex;
      align-items: center;
      @media (min-width: 1024px) {
        &:hover {
          .single-product-intro-slider__controls-icon svg {
            fill: #133BFE;
          }
          .single-product-intro-slider__controls-text {
            color: #133BFE;
          }
        }
      }
      @media (max-width: 1024px) {
        &:active {
          .single-product-intro-slider__item-icon svg {
            fill: #133BFE;
          }
          .single-product-intro-slider__item-text {
            color: #133BFE;
          }
        }
      }
      & + & {
        margin-top: 15px;
      }
    }
    &-icon {
      display: block;
      margin-right: 15px;
      svg {
        display: block;
        width: 32px;
        height: 32px;
        fill: #fff;
        @media (min-width: 1024px) {
          transition: fill .2s ease;
        }
        @media (max-width: 1024px) {
          transition: fill .1s ease;
        }
      }
    }
    &-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #FFFFFF;
      @media (min-width: 1024px) {
        transition: color .2s ease;
      }
      @media (max-width: 1024px) {
        transition: color .1s ease;
      }
    }
  }
  &-slider__nav {
    display: none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 10;
    justify-content: center;
    align-items: center;
  }
  &-slider__btn {
    width: 26px;
    height: 20px;
    transition: opacity .2s ease;
    &.swiper-button-disabled {
      opacity: .3;
      pointer-events: none;
    }
    & + & {
      margin-left: 25px;
    }
    &:not(&.swiper-button-disabled):active svg {
      stroke: #133BFE;
    }
    svg {
      display: block;
      width: 100%;
      height: 100%;
      stroke: #fff;
      transition: stroke .1s ease;
    }
  }
  &__slider-wrapper {
    width: calc(100% - 480px - 160px);
    display: flex;
    position: relative;
  }
  &__slider-inner {
    width: calc(100% - 95px - 30px);
  }
  &__slider-pagination {
    margin-right: 30px;
    overflow: auto;
    &-inner {
      width: 95px !important;
      display: flex;
      flex-direction: column;
    }
    &-item {
      cursor: pointer;
      width: 100%;
      height: 80px;
      border: 1px solid #807F7F;
      display: flex;
      justify-content: center;
      align-items: center;
      & + & {
        margin-top: 8px;
      }
      @media (min-width: 1024px) {
        transition: border-color .2s ease;
        &:hover img {
          opacity: 1;
        }
      }
      @media (max-width: 1024px) {
        transition: border-color .1s ease;
      }
      &.active {
        border-color: #133BFE;
        img {
          opacity: 1;
        }
      }
      img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        opacity: .5;
        @media (min-width: 1024px) {
          transition: opacity .2s ease;
        }
        @media (max-width: 1024px) {
          transition: opacity .1s ease;
        }
      }
    }
  }
  &-slider {
    min-width: 0;
    width: 100%;
    &__item {
      position: relative;
      transition: opacity .5s;
      opacity: 0 !important;
      .cIKpxU {
        cursor: crosshair !important;
        background-color: #000 !important;
        &::before,
        &::after {
          display: none !important;
        }
      }
      &.swiper-slide-active {
        opacity: 1 !important;
      }
      //&-controls {
      //  position: absolute;
      //  right: 0;
      //  top: 0;
      //  z-index: 20;
      //}
      //&-elem {
      //  display: flex;
      //  align-items: center;
      //  @media (min-width: 1024px) {
      //    &:hover {
      //      .single-product-intro-slider__item-icon svg {
      //        fill: #133BFE;
      //      }
      //      .single-product-intro-slider__item-text {
      //        color: #133BFE;
      //      }
      //    }
      //  }
      //  @media (max-width: 1024px) {
      //    &:active {
      //      .single-product-intro-slider__item-icon svg {
      //        fill: #133BFE;
      //      }
      //      .single-product-intro-slider__item-text {
      //        color: #133BFE;
      //      }
      //    }
      //  }
      //  & + & {
      //    margin-top: 15px;
      //  }
      //}
      //&-icon {
      //  display: block;
      //  margin-right: 15px;
      //  svg {
      //    display: block;
      //    width: 32px;
      //    height: 32px;
      //    fill: #fff;
      //    @media (min-width: 1024px) {
      //      transition: fill .2s ease;
      //    }
      //    @media (max-width: 1024px) {
      //      transition: fill .1s ease;
      //    }
      //  }
      //}
      //&-text {
      //  font-weight: 700;
      //  font-size: 14px;
      //  line-height: 17px;
      //  letter-spacing: 0.08em;
      //  text-transform: uppercase;
      //  color: #FFFFFF;
      //  @media (min-width: 1024px) {
      //    transition: color .2s ease;
      //  }
      //  @media (max-width: 1024px) {
      //    transition: color .1s ease;
      //  }
      //}
      &-line {
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translate(-50%, -100%);
        width: 100%;
        height: auto;
        z-index: 20;
        &-slider {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 55px;
          height: 55px;
          background: #fff;
          border-radius: 50%;
          position: absolute;
          z-index: 21;
          left: 50%;
          bottom: 0;
          transform: translate(-50%, 50%);
          span {
            position: relative;
            font-weight: 600;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.08em;
            text-transform: uppercase;
            color: #000;
            &::after {
              content: "";
              position: absolute;
              right: 0;
              top: 0;
              width: 5px;
              height: 5px;
              background: #000;
              border-radius: 50%;
              transform: translate(100%, -50%);
            }
          }
        }
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  &-info {
    margin-left: 160px;
    &__inner {
      width: 480px;
    }
    &__title-wrapper {
      margin-bottom: 25px;
    }
    &__title {
      color: #fff;
    }
    &__desc {
      color: #fff;
      font-size: 16px;
      line-height: 160%;
      margin-bottom: 25px;
    }
    &__chars {
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid #807F7F;
      &-item {
        & + & {
          margin-top: 25px;
        }
        &:nth-child(1) {
          .single-product-intro-info__chars-inner {
            margin: -4px;
          }
          .single-product-intro-info__chars-elem {
            padding: 4px;
          }
          .single-product-intro-info__chars-elem-inner {
            cursor: pointer;
            width: 70px;
            height: 70px;
            border: 1px solid #807F7F;
            display: flex;
            justify-content: center;
            align-items: center;
            @media (min-width: 1024px) {
              transition: border-color .2s ease;
              &:hover {
                border-color: #fff;
              }
            }
            span {
              display: block;
              width: 20px;
              height: 20px;
              border-radius: 50%;
              overflow: hidden;
            }
          }
        }
        &:nth-child(2) {
          .single-product-intro-info__chars-inner {
            margin: -8px -15px;
          }
          .single-product-intro-info__chars-elem {
            padding: 8px 15px;
            width: 50%;
            &:nth-child(3) {
              width: 100%;
            }
          }
        }
      }
      &-title {
        margin-bottom: 15px;
      }
      &-inner {
        display: flex;
        flex-wrap: wrap;
      }
      &-dropdown {
        background: #000;
        &-current {
          padding: 0 15px;
          border: 1px solid #807F7F;
          @media (min-width: 1024px) {
            &:hover {
              border-color: #fff;
            }
          }
          @media (max-width: 1024px) {
            &:active {
              border-color: #fff;
            }
          }
          &.open {
            border-color: #fff;
          }
        }
        &-text {
          color: #fff;
        }
        &-icon {
          svg {
            stroke: #fff;
          }
        }
        &-list {
          background: #000;
          border-left: 1px solid #fff;
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
        }
        &-item {
          color: #fff;
          padding: 0 15px;
          &::before {
            left: 15px;
            right: 15px;
            background: rgba(#fff, .6);
          }
          @media (min-width: 1024px) {
            &:hover {
              background: rgba(#fff, .1);
            }
          }
          @media (max-width: 1024px) {
            &:active {
              background: rgba(#fff, .1);
            }
          }
          &.active {
            background: rgba(#fff, .1);
          }
        }
      }
    }
    &__price {
      font-weight: 500;
      font-size: 21px;
      line-height: 150%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 15px;
    }
    &__controls {
      padding-bottom: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid #807F7F;
      &-inner {
        display: flex;
        margin: 0 -15px;
      }
      &-item {
        width: 50%;
        padding: 0 15px;
      }
      &-counter {
        border: 1px solid #807F7F;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &-minus,
      &-inp,
      &-plus {
        color: #fff;
      }
      &-inp {
        text-align: center;
        font-weight: 500;
        font-size: 21px;
        line-height: 150%;
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }
      &-minus,
      &-plus {
        font-size: 28px;
        @media (min-width: 1024px) {
          transition: color .2s ease;
          &:hover {
            color: #133BFE;
          }
        }
        @media (max-width: 1024px) {
          transition: color .1s ease;
          &:active {
            color: #133BFE;
          }
        }
      }
      &-btn {
        height: 70px;
        width: 100%;
        background: #fff;
        span {
          color: #000;
        }
      }
    }
    &__instruction {
      border-bottom: 1px solid #807F7F;
      margin-bottom: 25px;
      padding-bottom: 15px;
      display: none;
      &-inner {
        display: flex;
        align-items: center;
      }
      &-item {
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:active {
          .single-product-intro-info__instruction-icon svg {
            fill: #133BFE;
          }
          .single-product-intro-info__instruction-text {
            color: #133BFE;
          }
        }
        & + & {
          border-left: 1px solid #807F7F;
        }
      }
      &-icon {
        display: block;
        width: 16px;
        height: 16px;
        margin-bottom: 8px;
        svg {
          display: block;
          width: 100%;
          height: 100%;
          fill: #fff;
          transition: fill .1s ease;
        }
      }
      &-text {
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        text-align: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #fff;
        transition: color .1s ease;
      }
    }
    &__list {
      &-item {
        display: flex;
        align-items: center;
        & + & {
          margin-top: 8px;
        }
        &-icon {
          margin-right: 15px;
          svg {
            display: block;
            width: 15px;
            height: 13px;
            stroke: #807F7F;
          }
        }
        &-text {
          font-size: 12px;
          line-height: 160%;
          letter-spacing: -0.01em;
          color: #fff;
        }
      }
    }
  }
}

@media (max-width: 1366px) {
  .single-product-intro {
    position: relative;
    padding: 50px 0 80px;
    &-info {
      margin-left: 130px;
      &__inner {
        width: 455px;
      }
      &__chars {
        &-item {
          &:nth-child(1) {
            .single-product-intro-info__chars-inner {
              margin: -10px;
            }
            .single-product-intro-info__chars-elem {
              padding: 10px;
            }
            .single-product-intro-info__chars-elem-inner {
              width: 55px;
              height: 55px;
              span {
                width: 18px;
                height: 18px;
              }
            }
          }
        }
      }
    }
    &__slider-wrapper {
      width: calc(100% - 455px - 130px);
    }
    &__slider-inner {
      width: calc(100% - 65px - 30px);
    }
    &__slider-pagination {
      &-inner {
        width: 65px !important;
      }
      &-item {
        height: 55px;
      }
    }
    &-slider__controls {
      left: 0;
      bottom: 0;
      right: auto;
      top: auto;
      display: flex;
      align-items: center;
      &-elem {
        flex-direction: column;
        & + & {
          margin-top: 0;
          margin-left: 45px;
        }
      }
      &-icon {
        margin-right: 0;
        margin-bottom: 10px;
      }
    }
    &-slider__item-line {
      bottom: 10px;
    }
  }
}

@media (max-width: 1024px) {
  .single-product-intro {
    &-info {
      margin-left: 50px;
    }
    &__slider-wrapper {
      width: calc(100% - 455px - 50px);
    }
  }
}

@media (max-width: 991px) {
  .single-product-intro {
    padding: 55px 0 40px;
    &__mobile {
      display: block;
    }
    &-info__title-wrapper {
      display: none;
    }
    &-info__desc {
      display: none;
    }
    &__inner {
      flex-wrap: wrap;
    }
    &-slider__controls {
      flex-direction: column;
      align-items: flex-start;
      &-elem {
        flex-direction: row;
        & + & {
          margin-left: 0;
          margin-top: 20px;
        }
      }
      &-icon {
        margin-bottom: 0;
        margin-right: 10px;
      }
    }
    &__slider-wrapper {
      width: 100%;
      margin-bottom: 90px;
      padding-bottom: 85px;
    }
    &__slider-inner {
      width: calc(100% - 70px - 30px);
    }
    &-info {
      margin-left: 0;
      width: 100%;
      &__inner {
        width: 100%;
        padding: 0 115px;
      }
      &__chars {
        margin-bottom: 30px;
        padding-bottom: 30px;
        &-item {
          & + & {
            margin-top: 30px;
          }
          &:nth-child(1) {
            .single-product-intro-info__chars-inner {
              margin: -8px;
            }
            .single-product-intro-info__chars-elem {
              padding: 8px;
            }
          }
          &:nth-child(2) {
            .single-product-intro-info__chars-inner {
              margin: -10px;
            }
            .single-product-intro-info__chars-elem {
              padding: 10px;
            }
          }
        }
      }
      &__controls {
        margin-bottom: 30px;
        padding-bottom: 30px;
      }
    }
    &__slider-pagination {
      &-inner {
        width: 70px !important;
      }
      &-item {
        height: 60px;
        & + & {
          margin-top: 6px;
        }
      }
    }
  }
}

@media (max-width: 745px) {
  .single-product-intro {
    &-info {
      &__inner {
        padding: 0;
      }
    }
  }
}

@media (max-width: 480px) {
  .single-product-intro {
    padding: 25px 0 30px;
    &__mobile-title {
      font-size: 18px;
      line-height: 22px;
    }
    &-slider__controls {
      display: none;
    }
    &-slider__nav {
      display: flex;
    }
    &-info {
      &__desc {
        display: block;
        font-size: 14px;
        line-height: 160%;
      }
      &__chars-title {
        margin-bottom: 8px;
      }
      &__chars {
        margin-bottom: 25px;
        padding-bottom: 25px;
        &-item {
          & + & {
            margin-top: 15px;
          }
          &:nth-child(1) {
            .single-product-intro-info__chars-inner {
              margin: -4px;
            }
            .single-product-intro-info__chars-elem {
              padding: 4px;
            }
          }
          &:nth-child(2) {
            .single-product-intro-info__chars-inner {
              margin: 0;
            }
            .single-product-intro-info__chars-elem {
              padding: 0;
              width: 100%;
              &:not(:last-child) {
                margin-bottom: 15px;
              }
            }
          }
        }
      }
      &__controls {
        padding-bottom: 25px;
        margin-bottom: 15px;
        &-inner {
          margin: 0 -10px;
        }
        &-item {
          padding: 0 10px;
        }
      }
      &__instruction {
        display: block;
      }
    }
    &__title-mobile-wrapper {
      margin-bottom: 25px;
    }
    &__desc-mobile {
      display: none;
    }
    &__slider-wrapper {
      padding-bottom: 30px;
      margin-bottom: 25px;
    }
    &__slider-inner {
      width: calc(100% - 40px - 20px);
    }
    &__slider-pagination {
      margin-right: 20px;
      &-inner {
        width: 40px !important;
      }
      &-item {
        height: 40px;
      }
    }
    &-slider__item-line-slider {
      width: 33px;
      height: 33px;
      span {
        font-size: 9px;
        &::after {
          width: 2px;
          height: 2px;
          transform: translate(100%, 0%);
        }
      }
    }
  }
}