.faq-intro {
  padding: 40px 0 140px;
  &__title-wrapper {
    margin-bottom: 40px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &-accordion {
    .ReactCollapse--collapse {
      transition: height .35s ease;
    }
    width: 100%;
    &__innerinner {
      width: 100%;
    }
    &__item {
      border: 1px solid #E7E7E7;
      padding: 0 30px;
      &.open {
        border-color: rgba(#000, .4);
        .faq-intro-accordion__body-text {
          opacity: 1;
          transition-delay: .1s;
        }
        .faq-intro-accordion__head-icon svg {
          transform: rotate(-180deg);
        }
      }
      & + & {
        margin-top: 25px;
      }
      @media (min-width: 1024px) {
        transition: border-color .2s ease;
        &:hover {
          border-color: rgba(#000, .4);
        }
      }
      @media (max-width: 1024px) {
        transition: border-color .1s ease;
        &:active {
          border-color: rgba(#000, .4);
        }
      }
    }
    &__head {
      cursor: pointer;
      padding: 30px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-text {
        font-weight: 600;
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }
    }
    &__body {
      &-text {
        font-size: 18px;
        padding-bottom: 30px;
        opacity: 0;
        transition: opacity .2s ease 0s;
      }
    }
  }
  &-form {
    margin-left: 70px;
    &__inner {
      width: 450px;
      padding: 40px 30px 50px;
    }
    &__title {
      margin-bottom: 50px;
    }
    &__inp-wrapper {
      margin-bottom: 20px;
    }
    &__label {
      display: block;
      margin-bottom: 8px;
    }
    &__inp-inner {
      position: relative;
      height: 48px;
      border: 1px solid #807F7F;
    }
    &__inp,
    &__textarea {
      font-size: 16px;
      letter-spacing: 0.08em;
    }
    &__inp {
      height: 100%;
      padding: 0 25px;
    }
    &__textarea-inner {
      border: 1px solid #807F7F;
      position: relative;
    }
    &__textarea {
      padding: 10px 25px;
      height: 145px;
      border: none;
      outline: none;
      resize: none;
      &:focus,
      &:active {
        border: none;
        outline: none;
      }
    }
    &__btn-wrapper {
      display: flex;
      justify-content: center;
      margin-top: 45px;
    }
    &__btn {
      width: 100%;
    }
  }
}