.subscribe {
  padding-bottom: 80px;
  &__inner {
    background: #EEEEEE;
    display: flex;
    justify-content: center;
    padding: 65px 20px;
  }
  &__side {
    max-width: 705px;
    width: 100%;
  }
  &__form {
    display: flex;
    align-items: flex-end;
    &-inp-wrapper {
      width: 100%;
    }
    &-label {
      display: block;
      margin-bottom: 15px;
    }
    &-inp-inner {
      border: 1px solid #807F7F;
      width: 100%;
      height: 48px;
      background: #fff;
      position: relative;
    }
    &-placeholder {
      position: absolute;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #807F7F;
      pointer-events: none;
      transition: all .3s ease;
      &.focused {
        transform: translate(50px, -50%);
        opacity: 0;
      }
    }
    &-inp {
      padding: 0 25px;
      height: 100%;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.08em;
    }
  }
  &__desc {
    margin-top: 15px;
    font-size: 12px;
    line-height: 160%;
    letter-spacing: -0.01em;
  }
}

@media (max-width: 991px) {
  .subscribe {
    padding-bottom: 90px;
    &__inner {
      margin: 0 -20px;
    }
    &__side {
      max-width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .subscribe {
    padding-bottom: 80px;
    &__inner {
      padding: 40px 20px;
    }
    &__form {
      flex-wrap: wrap;
      &-btn-wrapper {
        width: 100%;
        margin-top: 8px;
      }
      &-btn {
        width: 100%;
      }
      &-error {
        top: 0;
        justify-content: flex-end;
        padding-right: 5px;
      }
    }
  }
}