.fullpage {
  position: relative;
  background: #000;
  z-index: 2;
  width: 100%;
  height: 100vh;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 1px;
    background: #000;
  }
  &-slider {
    //position: absolute;
    //left: 0;
    //top: 0;
    //right: 0;
    //bottom: 0;
    width: 100%;
    height: 100%;
    &__nav {
      display: none;
      justify-content: center;
      align-items: center;
      margin-top: 55px;
    }
    &__btn {
      & + & {
        margin-left: 15px;
      }
      &.swiper-button-disabled {
        opacity: .3;
        pointer-events: none;
      }
      width: 26px;
      height: 20px;
      transition: opacity .2s ease;
      &:active svg {
        stroke: #133BFE;
      }
      svg {
        display: block;
        width: 100%;
        height: 100%;
        stroke: #fff;
        transition: stroke .1s ease;
      }
    }
    .swiper-pagination {
      max-width: 1540px;
      padding: 0 20px;
      width: 100%;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%) !important;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    .swiper-pagination-bullet {
      width: 32px !important;
      height: 1px !important;
      background: #807F7F !important;
      opacity: 1 !important;
      transition: all .3s ease-in-out;
    }
    .swiper-pagination-bullet:hover {
      width: 44px !important;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
      transition-delay: .7s;
      background: #fff !important;
      width: 56px !important;
    }
    &__logo {
      position: absolute;
      top: 70px;
      left: -100px;
      z-index: -1;
      pointer-events: none;
      opacity: .5;
      max-width: 870px;
      width: 100%;
      * {
        width: 100% !important;
      }
    }
    &__item {
      width: 100%;
      height: 100%;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 2;
      &-photo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-width: 1280px;
        width: 100%;
        z-index: -1;
        padding: 0 20px;
        &::before {
          content: "";
          position: absolute;
          left: 20px;
          right: 20px;
          top: 0;
          bottom: 0;
          background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-content {
        text-align: center;
      }
      &-title {
        font-weight: 700;
        font-size: 84px;
        line-height: 100%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 0 auto 55px auto;
        max-width: 800px;
      }
      &-desc {
        font-weight: 400;
        font-size: 20px;
        line-height: 160%;
        color: #FFFFFF;
        max-width: 590px;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 1366px) {
  .fullpage {
    &-slider {
      &__item {
        &-photo {
          max-width: 980px;
        }
        &-title {
          margin-bottom: 50px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .fullpage {
    height: 800px;
    .fullpage-slider__logo {
      display: none;
    }
  }
}

@media (max-width: 991px) {
  .fullpage {
    height: 760px;
    &-slider {
      &__item {
        &-photo {
          max-width: 770px;
          height: 460px;
        }
        &-title {
          font-size: 56px;
          line-height: 100%;
          margin-bottom: 40px;
          max-width: 540px;
        }
      }
    }
  }
}

@media (max-width: 745px) {
  .fullpage {
    height: 550px;
    &-slider {
      &__item {
        &-photo {
          height: 370px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .fullpage {
    padding-bottom: 40px;
    height: auto;
    &-slider {
      .swiper-pagination {
        display: none;
      }
      &__nav {
        display: flex;
      }
      &__item {
        flex-direction: column;
        padding: 0;
        &-photo {
          width: 100%;
          height: 300px;
          position: static;
          transform: translate(0, 0);
          padding: 0;
          margin-bottom: 55px;
          &::before {
            left: 0;
            right: 0;
          }
        }
        &-content {
          padding: 0 20px;
        }
        &-title {
          font-size: 32px;
          margin-bottom: 25px;
          max-width: 320px;
        }
        &-desc {
          font-size: 16px;
          line-height: 160%;
        }
      }
    }
  }
}