.error-intro {
  .container {
    height: 100%;
  }
  &__title {
    width: 100%;
    transform: translateY(-20%);
    text {
      text-transform: uppercase;
      animation: stroke 5s 1;
      stroke-width: 2;
      font-weight: 700;
      stroke: #fff;
      fill: #fff;
      font-size: 300px;
    }
  }
  &__inner {
    position: relative;
    justify-content: center;
    height: 100%;
    img {
      pointer-events: none;
      position: absolute;
      width: 60%;
      height: auto;
      left: 25%;
      bottom: -6%;
    }
  }
  &__btn {
    transform: translateY(-110%);
    position: relative;
    z-index: 2;
    display: block;
    width: 225px;
    height: 70px;
    white-space: nowrap;
    background: #133BFE;
    @media (min-width: 1024px) {
      &:hover {
        background: #fff;
        span {
          color: #000;
        }
      }
    }
  }
}

@keyframes stroke {
  0%   {
    fill: rgba(#fff,0); stroke: rgba(#fff,1);
    stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
  }
  70%  {fill: rgba(#fff,0); stroke: rgba(#fff,1); }
  80%  {fill: rgba(#fff,0); stroke: rgba(#fff,1); stroke-width: 2; }
  100% {
    fill: rgba(#fff,1); stroke: rgba(#fff,1);
    stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 2;
  }
}