.info-about {
  padding: 155px 0;
  &__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 140%;
    max-width: 990px;
    margin-bottom: 80px;
  }
  &__desc {
    display: flex;
    justify-content: flex-end;
  }
  &__side {
    max-width: 735px;
  }
  &__text {
    & + & {
      margin-top: 15px;
    }
  }
}

@media (max-width: 1366px) {
  .info-about {
    padding: 120px 0 155px;
    &__title {
      margin-bottom: 55px;
    }
    &__side {
      max-width: 650px
    }
    &__text {
      & + & {
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 991px) {
  .info-about {
    padding: 95px 0 80px;
    &__title {
      font-size: 40px;
      margin-bottom: 80px;
    }
    &__side {
      max-width: 540px;
    }
  }
}

@media (max-width: 480px) {
  .info-about {
    padding: 80px 0;
    &__title {
      font-weight: 400;
      font-size: 32px;
      line-height: 150%;
      margin-bottom: 40px;
    }
    &__side {
      max-width: 100%;
    }
  }
}