.intro {
  &-slider {
    position: relative;
    height: 800px;
    &__item {
      position: relative;
      z-index: 2;
      height: 100%;
      padding-top: 250px;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
        left: 0;
        top: 0;
      }
      &-title {
        font-weight: 400;
        font-size: 84px;
        line-height: 100px;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #FFFFFF;
        max-width: 750px;
        margin-bottom: 40px;
        span {
          font-weight: 700;
        }
      }
    }
    &__pagination {
      position: absolute;
      z-index: 100;
      max-width: 1460px;
      width: 100%;
      left: 50% !important;
      bottom: 67px !important;
      transform: translateX(-50%);
      &-inner {
        display: flex;
        justify-content: space-between;
      }
      &-item {
        width: 100%;
        cursor: pointer;
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 2px;
          position: absolute;
          background: #fff;
          transform-origin: right center;
          transform: scaleX(0);
          transition: transform .35s ease;
        }
        &.active {
          &::before {
            transform: scaleX(1);
            transform-origin: left center;
          }
          .intro-slider__pagination-item-text::before {
            transform: translate(0, -50%) scaleX(1);
          }
        }
        @media (min-width: 1024px) {
          &:hover:not(.active) {
            .intro-slider__pagination-item-text {
              color: rgba(#fff, .7);
            }
          }
        }
        @media (max-width: 1024px) {
          &:active:not(.active) {
            .intro-slider__pagination-item-text {
              color: rgba(#fff, .7);
            }
          }
        }
        &-inner {
          padding-top: 15px;
          border-top: 2px solid rgba(#fff, .3);
          font-weight: bold;
          font-size: 14px;
          line-height: 17px;
          letter-spacing: 0.08em;
          text-transform: uppercase;
          color: #FFFFFF;
        }
        &-text {
          padding: 12px 15px;
          position: relative;
          overflow: hidden;
          transition: color .2s ease;
          &::before {
            content: "";
            position: absolute;
            right: 15px;
            top: 50%;
            transform-origin: right center;
            transform: translate(0, -50%) scaleX(0);
            width: 30px;
            height: 2px;
            background: #fff;
            transition: transform .3s ease;
          }
        }
        & + & {
          margin-left: 30px;
        }
      }
    }
  }
}