.callback {
  padding: 80px 0 155px;
  &__title-wrapper {
    margin-bottom: 30px;
  }
  &-form {
    border: 1px solid #E7E7E7;
    padding: 30px 30px 45px;
    &__top {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -23px;
    }
    &__bot {
      padding-top: 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__text {
      font-size: 12px;
      line-height: 160%;
      letter-spacing: -0.01em;
      padding-right: 20px;
    }
    &__inp-wrapper {
      width: calc(100% / 3);
      padding: 0 23px;
    }
    &__textarea-wrapper {
      width: 100%;
      margin-top: 25px;
      padding: 0 23px;
    }
    &__label {
      font-family: "IBM Plex Mono";
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 150%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    &__placeholder {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #807F7F;
      position: absolute;
      left: 20px;
      top: 0;
      pointer-events: none;
      user-select: none;
      transition: all .3s ease;
      &.focused {
        transform: translateX(50px);
        opacity: 0;
      }
      &--phone {
        transition-duration: 0s;
      }
    }
    &__inp-inner,
    &__textarea-inner {
      position: relative;
      border-bottom: 1px solid #E7E7E7;
    }
    &__inp,
    &__textarea {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.08em;
    }
    &__inp {
      padding: 0 20px 15px 20px;
    }
    &__textarea {
      padding: 0 20px 15px 20px;
      height: 80px;
      border: none;
      outline: none;
      background: none;
      resize: none;
      &:focus {
        outline: none;
      }
    }
  }
}

@media (max-width: 1366px) {
  .callback {
    padding: 80px 0;
    &-form {
      padding: 40px;
      &__top {
        margin: 0 -15px;
      }
      &__bot {
        padding-top: 15px;
      }
      &__inp-wrapper,
      &__textarea-wrapper {
        padding: 0 15px
      }
    }
  }
}

@media (max-width: 991px) {
  .callback {
    padding: 80px 0 90px;
    &-form {
      padding: 0;
      border: none;
      &__top {
        margin: 0 -23px;
      }
      &__bot {
        padding-top: 35px;
      }
      &__inp-wrapper,
      &__textarea-wrapper {
        padding: 0 23px
      }
      &__inp,
      &__textarea {
        padding: 0 0 8px;
      }
      &__textarea-wrapper {
        margin-top: 40px;
      }
      &__placeholder {
        left: 0;
      }
      &__label {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 745px) {
  .callback {
    &-form {
      &__top {
        margin: 0 -10px;
      }
      &__inp-wrapper,
      &__textarea-wrapper {
        padding: 0 10px
      }
    }
  }
}

@media (max-width: 745px) {
  .callback {
    padding: 0 0 80px;
    &__title-wrapper {
      margin-bottom: 25px;
    }
    &-form {
      &__top {
        margin: 0;
      }
      &__bot {
        padding-top: 25px;
        flex-direction: column;
      }
      &__inp-wrapper,
      &__textarea-wrapper {
        padding: 0;
      }
      &__inp-wrapper {
        width: 100%;
        margin-bottom: 15px;
      }
      &__textarea-wrapper {
        margin-top: 0;
      }
      &__textarea {
        height: 60px;
      }
      &__text {
        padding-right: 0;
      }
      &__btn-wrapper {
        margin-top: 25px;
        width: 100%;
      }
      &__btn {
        width: 100%;
      }
    }
  }
}