.gallery {
  padding: 155px 0;
  &__title {
    margin-bottom: 45px;
  }
  &__slider-wrapper {
    position: relative;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 260px;
      height: 100%;
      top: 0;
      z-index: 10;
      pointer-events: none;
    }
    &::before {
      left: 0;
      background: linear-gradient(to right, #FFFFFF 35.07%, rgba(255, 255, 255, 0) 100%);
    }
    &::after {
      right: 0;
      background: linear-gradient(to left, #FFFFFF 35.07%, rgba(255, 255, 255, 0) 100%);
    }
  }
  &-slider {
    &__item {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .swiper-wrapper {
      transition-timing-function: linear;
    }
  }
}