.seo-block {
  padding: 77px 0 145px;
  &__title {
    margin-bottom: 40px;
  }
  &__article {
    max-height: 190px;
    overflow: hidden;
    position: relative;
    transition: max-height 1.3s ease;
    &.open {
      transition: max-height 1.3s ease;
      max-height: 2000px;
      &::after {
        opacity: 0;
      }
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 150px;
      background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
      pointer-events: none;
      transition: opacity .25s ease;
    }
    p {
      margin-bottom: 35px;
    }
    ul {
      margin-bottom: 35px;
      li {
        position: relative;
        padding-left: 15px;
        margin-bottom: 10px;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 13px;
          width: 6px;
          height: 6px;
          background: #000;
          border-radius: 50%;
        }
      }
    }
    ol {
      margin-bottom: 35px;
      counter-reset: seoCounter;
      li {
        margin-bottom: 10px;
        &::before {
          counter-increment: seoCounter;
          content: counter(seoCounter) ". ";
        }
      }
    }
    h2, h3, h4, h5, h6 {
      font-weight: 700;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    h2 {
      font-size: 33px;
    }
    h3 {
      font-size: 30px;
    }
    h4 {
      font-size: 27px;
    }
    h5 {
      font-size: 24px;
    }
    h6 {
      font-size: 21px;
    }
  }
  &__btn-wrapper {
    margin-top: 50px;
  }
  &__btn {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    width: 212px;
    text-align: left;
    @media (min-width: 1024px) {
      &:hover {
        .seo-block__btn-inner {
          &::after {
            transform: translateY(-50%) scaleX(0);
            transition: transform .25s ease;
          }
          &::before {
            transform: translateY(-50%) scaleX(1);
            transition: transform .25s ease .15s;
          }
        }
      }
    }
    @media (max-width: 1024px) {
      &:active {
        .seo-block__btn-inner {
          &::after {
            transform: translateY(-50%) scaleX(0);
            transition: transform .25s ease;
          }
          &::before {
            transform: translateY(-50%) scaleX(1);
            transition: transform .25s ease .15s;
          }
        }
      }
    }
    &-inner {
      position: relative;
      overflow: hidden;
      display: block;
      &::before,
      &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 32px;
        height: 2px;
        background: #000;
      }
      &::before {
        transform: translateY(-50%) scaleX(0);
        transform-origin: left center;
      }
      &::after {
        transform-origin: right center;
      }
    }
  }
}