.copyright {
  transform: translateX(-50%);
  &__text {
    font-weight: 500;
    font-size: 9px;
    line-height: 12px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: "IBM Plex Mono";
  }
}