.modal-thanks {
  max-width: 990px;
  padding: 95px 115px 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .carousel__button.is-close {
    animation: visible .3s ease 1.2s 1 forwards !important;
  }
  &__icon {
    width: 110px;
    height: 110px;
    margin-bottom: 40px;
  }
  &__title {
    margin-bottom: 80px;
  }
  &__btn {
    background: #fff;
    span {
      color: #000
    }
  }
}