.single-product-author {
  &__inner {
    display: flex;
    align-items: center;
  }
  &-photo {
    max-width: 480px;
    height: 645px;
    width: 100%;
    background: #EEEEEE;
    position: relative;
    transform-origin: left center;
    &__inner {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(25%, -50%);
    }
    &__preview {
      width: 325px;
      height: 375px;
      margin-bottom: 25px;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__name {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      margin-bottom: 15px;
    }
    &__position {
      font-weight: 400;
      font-size: 12px;
      line-height: 160%;
      letter-spacing: -0.01em;
      color: #807F7F;
    }
  }
  &-info {
    margin-left: 290px;
    max-width: 480px;
    &__title {
      margin-bottom: 40px;
    }
  }
}

@media (max-width: 1366px) {
  .single-product-author {
    &-photo {
      max-width: 260px;
      height: 580px;
      &__inner {
        transform: translate(50%, -50%);
      }
    }
  }
}

@media (max-width: 991px) {
  .single-product-author {
    &-photo {
      background: transparent;
      z-index: 2;
      &::before {
        content: "";
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        width: 280px;
        background: #eee;
      }
      &__inner {
        right: auto;
        left: 0;
        transform: translate(0, -50%);
      }
    }
    &-info {
      margin-left: 90px;
      width: calc(100% - 90px - 280px);
    }
  }
}

@media (max-width: 745px) {
  .single-product-author {
    display: none;
  }
}